@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gruppo;
}

.gruppo-regular {
  font-family: "Gruppo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: mulish;
}

.header .bg-dark {
  background-color: rgb(0, 0, 0) !important;
}
.header .bg-dark .container-fluid {
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3.5fr 1fr;
  justify-content: space-between;
}
.header .bg-dark .container-fluid img {
  min-width: 60px;
  max-width: 80%;
  border-radius: 100%;
  justify-self: center;
}
.header .bg-dark .container-fluid .titulos-principales {
  display: grid;
  justify-content: center;
  padding-block: 1.5rem;
  font-family: Gruppo;
}
.header .bg-dark .container-fluid .titulos-principales .titulo {
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  gap: 0;
  align-self: center;
  color: white;
}
.header .bg-dark .container-fluid .titulos-principales .titulo h1 {
  font-size: 5vw;
  justify-self: end;
}
.header .bg-dark .container-fluid .titulos-principales .titulo h2 {
  justify-self: start;
  font-size: 5vw;
  color: rgb(131, 11, 11);
  font-weight: 800;
}
.header .bg-dark .container-fluid .navbar-toggler {
  justify-content: center;
  align-self: center;
  width: 60%;
  justify-self: center;
  color: rgb(131, 11, 11);
  border-color: red;
  display: grid;
}
.header .bg-dark .container-fluid .navbar-toggler span {
  justify-self: center;
}
.header .bg-dark .container-fluid .navbar-collapse {
  grid-column: span 3;
  padding-top: 1rem;
}
.header .bg-dark .container-fluid .navbar-collapse ul ul {
  background-color: rgba(176, 50, 50, 0.52);
}
.header .bg-dark .container-fluid .navbar-collapse ul ul li {
  outline: 1px solid rgb(0, 0, 0);
  /* Líneas rojas semitransparentes */
}
.header .bg-dark .container-fluid .Dios-escucha {
  justify-self: center;
  font-size: 100%;
  color: white;
  grid-column: span 3;
}
.header .bg-dark .container-fluid .barra-desktop {
  display: none;
}
@media (min-width: 800px) {
  .header .container-fluid {
    grid-template-columns: max-content !important;
  }
  .header .container-fluid img {
    max-width: 100px !important;
  }
  .header .container-fluid .titulos-principales .titulo {
    display: flex !important;
    max-width: 100% !important;
  }
  .header .container-fluid .titulos-principales .titulo h1 {
    justify-self: start !important;
    font-size: 5vw !important;
  }
  .header .container-fluid .titulos-principales .titulo h2 {
    justify-self: start !important;
    font-size: 5vw !important;
  }
  .header .container-fluid .navbar-toggler {
    display: none !important;
  }
  .header .container-fluid .navbar-collapse {
    display: none !important;
  }
  .header .container-fluid button {
    display: none !important;
  }
  .header .container-fluid .Dios-escucha {
    font-size: 2vw !important;
  }
  .header .container-fluid .barra-desktop {
    display: flex !important;
    grid-column: span 3;
    justify-self: end;
    justify-content: space-around;
    color: rgb(131, 11, 11);
    list-style: none;
    width: 100%;
    margin-block: 2rem;
  }
  .header .container-fluid .barra-desktop li {
    /* Límite máximo */
    font-size: 1.3vw;
    transition: 400ms;
    font-size: clamp(16px, 1.3vw, 36px);
    cursor: none;
  }
  .header .container-fluid .barra-desktop li:hover {
    transform: scale(1.3);
    /* Color del texto */
    text-shadow: 2px 2px 10px rgb(131, 11, 11), -2px -2px 10px rgb(131, 11, 11), 2px -2px 10px rgb(131, 11, 11), -2px 2px 10px rgb(131, 11, 11);
    color: red;
  }
}

.main-index {
  display: flex;
  flex-direction: column;
}
.main-index section {
  display: grid;
  justify-self: center;
  justify-content: center;
  margin: 2rem;
}
.main-index section h3 {
  font-weight: 600;
  justify-self: center;
}
.main-index section p {
  text-align: center;
  justify-content: center;
}
.main-index .hospitales {
  justify-self: center;
  gap: 2rem;
}
.main-index .hospitales h3 {
  align-self: center;
}
.main-index .hospitales .imagenes-hospitales {
  display: flex;
  overflow: auto;
  gap: 2rem;
}
.main-index .hospitales .imagenes-hospitales div {
  justify-self: center;
}
.main-index .hospitales .imagenes-hospitales div h3 {
  justify-content: center;
  display: flex;
}
.main-index .hospitales .imagenes-hospitales div img {
  min-width: 80px;
  max-width: 250px;
}

.footer {
  padding-block: 3rem;
  width: 100%;
  margin-top: 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 0.5fr;
  background-color: rgb(0, 0, 0);
  grid-template-columns: 1fr;
  justify-content: center;
  outline: 1px solid rgba(255, 255, 255, 0.988); /* Líneas rojas semitransparentes */
}
.footer h3 {
  color: aliceblue;
}
.footer ul {
  list-style: none;
  padding: 0;
  color: aliceblue;
}
.footer img {
  margin: 1rem;
  width: 40%;
  justify-self: center;
}
.footer .fundaciones {
  width: 100%;
  display: grid;
  justify-self: center;
  margin-top: 1rem;
  justify-content: center;
  border: 0;
  border-top: 1px aliceblue;
  border-style: outset;
}
.footer .fundaciones h3 {
  align-self: center;
}
.footer .fundaciones ul {
  justify-self: center;
}
.footer .fundaciones ul li {
  font-size: 1.2rem;
}
.footer .iglesias {
  display: grid;
  justify-self: center;
  margin-top: 1rem;
  justify-content: center;
  border: 0;
  border-top: 1px aliceblue;
  border-style: outset;
}
.footer .iglesias h3 {
  align-self: center;
}
.footer .iglesias ul {
  justify-self: center;
}
.footer .iglesias ul li {
  font-size: 1.2rem;
}
.footer .redes {
  margin-top: 1rem;
  display: grid;
  justify-self: center;
  row-gap: 1rem;
  border: 0;
  border-top: 1px aliceblue;
  border-style: outset;
}
.footer .redes h3 {
  justify-self: center;
}
.footer .redes ul {
  display: grid;
  padding-inline: 32px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}
.footer .redes ul a {
  display: flex;
  justify-content: center;
}
.footer .redes ul img {
  justify-self: center;
  border-radius: 10%;
  width: 60%;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
