.header {

    .bg-dark {
        background-color: rgb(0, 0, 0) !important;


        .container-fluid {
            padding: 0;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 3.5fr 1fr;
            justify-content: space-between;

            img {
                min-width: 60px;
                max-width: 80%;
                border-radius: 100%;
                justify-self: center;
            }


            .titulos-principales {


                display: grid;
                justify-content: center;
                // grid-template-rows: 2fr 1fr;
                padding-block: 1.5rem;
                font-family: Gruppo;

                .titulo {
                    justify-content: space-evenly;
                    width: 100%;
                    align-items: center;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    justify-self: center;
                    gap: 0;
                    align-self: center;
                    color: white;

                    h1 {

                        font-size: 5vw;
                        justify-self: end;
                    }

                    h2 {
                        justify-self: start;
                        font-size: 5vw;
                        color: rgb(131, 11, 11);
                        font-weight: 800;
                    }
                }




            }

            .navbar-toggler {

                justify-content: center;
                align-self: center;
                width: 60%;
                justify-self: center;
                color: rgb(131, 11, 11);
                border-color: red;
                display: grid;





                span {

                    justify-self: center;
                }



            }

            .navbar-collapse {
                grid-column: span 3;
                padding-top: 1rem;


                ul {
                    //  width: fit-content;

                    ul {
                        background-color: rgba(176, 50, 50, 0.52);

                        li {
                            outline: 1px solid rgb(0, 0, 0);
                            /* Líneas rojas semitransparentes */
                        }
                    }
                }


            }

            .Dios-escucha {
                justify-self: center;
                font-size: 100%;
                color: white;
                grid-column: span 3;
            }

            .barra-desktop {
                display: none;
            }
        }

    }



    @include mq-desktop {


        .container-fluid {


            grid-template-columns: max-content !important;

            img {

                max-width: 150px !important;
            }

            .titulos-principales {


                .titulo {

                    display: flex !important;
                    max-width: 100% !important;

                    h1 {
                        justify-self: start !important;
                        font-size: 5vw !important;
                    }

                    h2 {
                        justify-self: start !important;
                        font-size: 5vw !important;
                    }
                }


            }

            //A continuación deshabilito el menú hamburguesa

            .navbar-toggler {
                display: none !important;
            }

            .navbar-collapse {
                display: none !important;
            }

            button {
                display: none !important;
            }

            .Dios-escucha {
                font-size: 2vw !important;
            }

            .barra-desktop {
                display: flex !important;
                grid-column: span 3;
                justify-self: end;
                justify-content: space-around;
                color: rgb(131, 11, 11);
                list-style: none;
                width: 100%;
                margin-block: 2rem;

                li {
                   
                    
                    /* Límite máximo */
                    font-size: 1.3vw;
                    transition: 400ms;
                    font-size: clamp(16px, 1.3vw, 36px); //Con esto se le da un tamaño máximo al texto
                    cursor: none;
                }

                li:hover {
                    transform: scale(1.3);
                    // text-shadow: 5px 5px 5px  rgb(140, 0, 0);
                    /* Color del texto */
                    text-shadow:
                        2px 2px 10px rgb(131, 11, 11),
                        -2px -2px 10px rgb(131, 11, 11),
                        2px -2px 10px rgb(131, 11, 11),
                        -2px 2px 10px rgb(131, 11, 11);
                    color: red;
                }


            }
        }



    }

}