.main-index {
    display: flex;
    flex-direction: column;


    section {
        display: grid;
        justify-self: center;
        justify-content: center;
        margin: 2rem;

        h3 {
            font-weight: 600;
            justify-self: center;

        }

        p {
            text-align: center;
            justify-content: center;
        }
    }

    .hospitales {



        justify-self: center;
        gap: 2rem;

        h3 {
            align-self: center;
        }

        .imagenes-hospitales {
            // display: grid;
            // grid-template-columns: repeat(3, 1fr);
            // column-gap: 2rem;
            display: flex;
            overflow: auto;
            gap: 2rem;



            div {
                justify-self: center;

                h3 {

                    justify-content: center;
                    display: flex;

                }

                img {
                    min-width: 80px;
                    max-width: 250px;
                }


            }

            @include mq-desktop {

                width: 80vw;
                display: grid !important;
                grid-template-columns: repeat(2, 1fr) !important;
                column-gap: 3rem;
                justify-self: center;
                overflow: unset;


                


                div {
                    width: 30vw;
                    padding: 1rem;
                    border-style: solid;
                    border-color: red;
                    border-radius: 10px;
                    border-width: 1px;
                    display: grid;
                    align-items: center;
                    transition: 400ms;
                    grid-template-columns: 1fr 1fr;

                    
                
                }

                div :hover {
                    border: 2px 2px 2px 2px grey;
                    border-style:hidden;
                }

                h3 {
                    font-size: 20px;
                }

                a {
                    justify-self: end;
                    width: 15vw;


                    img {
                        max-width: fit-content;
                        width: 100%;
                        border-radius: 4px;

                    }
                }

            }
        }

    }


    @include mq-desktop {


        display: grid;

        section {
            margin: 3rem;
            max-width: 1111px;

            h3 {
                font-size: 3rem;
            }

            p {
                font-size: 18px;
            }


        }

    }
}